<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dog and Cat Classifier with Transfer Learning</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <style>

.hero {
    background: black url(static/images/classify_dog_1.jpg) center / cover;
}
    </style>

    <style>
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
    </style>

  </head>

    
<body>

<!-- .hero -->
<section class="hero is-fullheight" has-background-black>

    <section class="section">
        <div class="container" >
            <h1 class="title" style="font-size:2.5rem">
                Dog & Cat Classifier
            </h1>
            
        </div>   
        </section> 

        <div class="columns">
                <div class="column is-narrow">
                </div>


                <div class="column is-one-third has-text-centered">
                  <!-- <figure class="image is-1by1"> -->
                    <img class="pred_img" src="{{ url_for('send_file', filename=image_file_name)}}"/>
                  <!-- </figure> -->
                </div>
                <div class="column is-one-quarter" style="font-size:2.5rem" >
      
                        <h2 id ="pred" style="color:black">
                            This is a <span style="font-weight: bold; color:whitesmoke;">{{ label }}</span>
                        </h2>
            
                        <h2 style="font-size: 2rem">
                          Confidence: <span style="font-weight: bold; color:whitesmoke;">{{prob}}%</span>
                        </h2>
                        <br>
                        <a href="/" class="button is-black is-inverted is-outlined" style="font-size:1.5rem">Back to Home</a>
                    </div>
            </div>    

    <section class="section">
            <div class="container">
            </div>   
            </section> 
        </section>
<!-- /.hero -->

<script src="/static/script.js"></script>

</body>
</html>